<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
        <nav>
      <a href="{{ url_for('register') }}">Register</a> |
      <a href="{{ url_for('login') }}">Login</a> |
      <a href="{{ url_for('profile') }}">Profile</a> |
      <a href="{{ url_for('review') }}">Review</a> |
      <a href="{{ url_for('forgot_password') }}">forgot_password</a> |
    </nav>
<br>
<br>

<form method="POST">
    <input name="username" placeholder="Username" required>
    <br><br>
    <input name="email" placeholder="Email" required>
    <br><br>
    <input name="new_password" type="password" placeholder="New Password" required>
    <br><br>
    <button type="submit">Reset Password</button>
</form>

<p style="color:rgb(5, 5, 5);">{{ message }}</p>


</body>
</html>